#wrapper.toggled #sidebar-wrapper{
	
  background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #004e92, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #004e92, #3498DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

#wrapper.toggled{
	
	background-color:white;
	


}

#wrapper{
	

	background-color:white;
}
